<h1>Содержание<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Загрузка-данных" data-toc-modified-id="Загрузка-данных-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Загрузка данных</a></span></li><li><span><a href="#Умножение-матриц" data-toc-modified-id="Умножение-матриц-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Умножение матриц</a></span></li><li><span><a href="#Алгоритм-преобразования" data-toc-modified-id="Алгоритм-преобразования-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Алгоритм преобразования</a></span></li><li><span><a href="#Проверка-алгоритма" data-toc-modified-id="Проверка-алгоритма-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Проверка алгоритма</a></span><ul class="toc-item"><li><span><a href="#Генерация-ключа-шифрования,-шифрование-и-проверка" data-toc-modified-id="Генерация-ключа-шифрования,-шифрование-и-проверка-4.1"><span class="toc-item-num">4.1&nbsp;&nbsp;</span>Генерация ключа шифрования, шифрование и проверка</a></span></li><li><span><a href="#Разделение-выборок" data-toc-modified-id="Разделение-выборок-4.2"><span class="toc-item-num">4.2&nbsp;&nbsp;</span>Разделение выборок</a></span></li><li><span><a href="#Обучение-модели-на-исходных-данных" data-toc-modified-id="Обучение-модели-на-исходных-данных-4.3"><span class="toc-item-num">4.3&nbsp;&nbsp;</span>Обучение модели на исходных данных</a></span></li><li><span><a href="#Обучение-модели-на-преобразованных-данных" data-toc-modified-id="Обучение-модели-на-преобразованных-данных-4.4"><span class="toc-item-num">4.4&nbsp;&nbsp;</span>Обучение модели на преобразованных данных</a></span></li></ul></li><li><span><a href="#Вывод" data-toc-modified-id="Вывод-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Вывод</a></span></li></ul></div>

# Защита персональных данных клиентов

Вам нужно защитить данные клиентов страховой компании «Хоть потоп». Разработайте такой метод преобразования данных, чтобы по ним было сложно восстановить персональную информацию. Обоснуйте корректность его работы.

Нужно защитить данные, чтобы при преобразовании качество моделей машинного обучения не ухудшилось. Подбирать наилучшую модель не требуется.

## Загрузка данных

In [30]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
from sklearn.model_selection import train_test_split

In [31]:
try:
    df = pd.read_csv('C:\\Users\\gorbu\\OneDrive\\Документы\\DataScience\\Projects\\8 prj\\insurance.csv')
except:
    df = pd.read_csv('/datasets/insurance.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Пол                5000 non-null   int64
 1   Возраст            5000 non-null   float64
 2   Зарплата           5000 non-null   float64
 3   Члены семьи        5000 non-null   int64
 4   Страховые выплаты  5000 non-null   int64
dtypes: float64(2), int64(3)
memory usage: 195.4 KB

In [32]:
df.head()

   Пол  Возраст  Зарплата  Члены семьи  Страховые выплаты
0    1     41.0   49600.0            1                  0
1    0     46.0   38000.0            1                  1
2    0     29.0   21000.0            0                  0
3    0     21.0   41700.0            2                  0
4    1     28.0   26100.0            0                  0

Данные чистые, пропусков нет.

## Умножение матриц

Ответим на вопрос.  
Признаки умножают на некую обратимую матрицу. Изменится ли качество линейной регрессии? (Её можно обучить заново). Варианты ответов:  
a. Изменится.   
b. Не изменится. Укажем в этом случае, как связаны параметры линейной регрессии в исходной задаче и в преобразованной.

Обозначения:

- $X$ — матрица признаков (нулевой столбец состоит из единиц)

- $y$ — вектор целевого признака

- $P$ — обратимая матрица, на которую умножаются признаки

- $w$ — вектор весов линейной регрессии (нулевой элемент равен сдвигу)

**Для исходной матрицы с признаками:**  

Предсказания:

$$
a = Xw
$$

Задача обучения:

$$
w = \arg\min_w MSE(Xw, y)
$$

Формула обучения:

$$
w = (X^T X)^{-1} X^T y
$$

**Для исходной матрицы с признаками, умноженной на случайную обратимую матрицу:**  

Предсказания:

$$
a' = XPw'
$$

Задача обучения:

$$
w' = \arg\min_w' MSE(XPw', y)
$$

Формула обучения:

$$
w' = ((XP)^T XP)^{-1} (XP)^T y
$$

**Преобразуем формулу нахождения вектора весов:**

$w' = ((XP)^TXP)^{-1} (XP)^Ty = P^{-1}((XP)^{T}X)^{-1} (XP)^Ty = P^{-1}((XP)^{T}X)^{-1}P^TX^Ty =
P^{-1}(P^TX^TX)^{-1} P^TX^Ty = P^{-1}(X^TX)^{-1}(P^T)^{-1} P^TX^Ty$

Сократим: $(P^{T})^{-1} P^T$ 

Получается: $w'= P^{-1}(X^TX)^{-1} X^Ty$

Тогда:
$a' = XPw' = XPP^{-1}(X^TX)^{-1} X^Ty$  

Сократим: $PP^{-1}$   

Получается: $a' = X(X^TX)^{-1} X^Ty = Xw = a$

**Вывод:** При умножении матрицы признаков на случайную обратимую матрицу предсказания модели линейной регрессии не изменятся.

## Алгоритм преобразования

Предложим алгоритм преобразования данных для решения задачи. Обоснуем, почему качество линейной регрессии не поменяется.

**Алгоритм:**  
1. Целевой признак вынесем из набора данных.
2. Сгенерируем случайную квадратную матрицу.
3. Проверим ее обратимость.
4. Умножим матрицу с признаками на ключ шифрования.
5. Расшифровать матрицу признаков можно путем ее умножения на обратную матрицу ключа шифрования.

**Обоснование:**  

Как показано в разделе 2 - для линейной регрессии умножение признаков на случайную обратимую матрицу не влияет на предсказания модели. Вместе с тем, при матричном умножении по двум матрицам строится третья, которая состоит из скалярных произведений строк первой матрицы на столбцы второй. Таким образом, из преобразованных данных без знания ключа шифрования невозможно будет восстановить первоначальные.

Для обратного преобразования (расшифровки) верно следцющее. Если любую матрицу A умножить на единичную матрицу E (или наоборот), получится эта же матрица A. При этом, умножение матрицы на обратную ей матрицу дает единичную матрицу.   
Таким образом: $XPP^{-1} = XE = X$

## Проверка алгоритма

Запрограммируем этот алгоритм, применив матричные операции. Проверим после, что качество линейной регрессии из sklearn не отличается до и после преобразования. Применим метрику R2.

In [33]:
target = df['Страховые выплаты']
features = df.drop(['Страховые выплаты'], axis=1)

print(features.shape)
print(target.shape)

(5000, 4)
(5000,)

### Генерация ключа шифрования, шифрование и проверка

In [34]:
key = np.random.rand(4,4)
key

array([[0.55668318, 0.37283583, 0.02670563, 0.84013681],
       [0.32433872, 0.77049679, 0.56214873, 0.77367684],
       [0.53365496, 0.59955997, 0.06061409, 0.94937928],
       [0.28096954, 0.42369849, 0.01985553, 0.70935221]])

In [35]:
np.linalg.inv(key)

array([[ 0.55874205, -0.35543117,  5.59125318, -7.75729006],
       [-6.68920446, -0.56304575,  9.566878  , -4.26746173],
       [ 3.79801699,  2.18317335, -5.64343612,  0.67362415],
       [ 3.66786015,  0.41598362, -7.77102   ,  7.01246026]])

Нашли обратную матрицу, таким образом, ключ шифрования - обратимая матрица.

In [36]:
pd.DataFrame((key @ np.linalg.inv(key)).round(0).astype(int))

   0  1  2  3
0  1  0  0  0
1  0  1  0  0
2  0  0  1  0
3  0  0  0  1

Красота! Все по науке)

In [37]:
features_encr = features @ key
pd.DataFrame(features_encr)

                 0             1            2             3
0     26483.421721  29770.561471  3029.553562  47122.482426
1     20294.089157  22819.145454  2329.214147  36112.711049
2     11216.160053  12613.103801  1289.198220  19959.401466
3     22260.785023  25018.678626  2539.452420  39606.781809
4     13938.032710  15670.461992  1597.794640  24801.302243
...            ...           ...          ...           ...
4995  19061.125614  21426.712276  2179.702917  33915.921879
4996  27974.828564  31443.563076  3195.311270  49774.488530
4997  18097.951970  20341.340354  2066.100363  32200.849764
4998  17459.052344  19624.205916  1994.534313  31064.691473
4999  21676.310648  24364.505272  2476.718812  38568.011126

[5000 rows x 4 columns]

In [38]:
features

      Пол  Возраст  Зарплата  Члены семьи
0       1     41.0   49600.0            1
1       0     46.0   38000.0            1
2       0     29.0   21000.0            0
3       0     21.0   41700.0            2
4       1     28.0   26100.0            0
...   ...      ...       ...          ...
4995    0     28.0   35700.0            2
4996    0     34.0   52400.0            1
4997    0     20.0   33900.0            2
4998    1     22.0   32700.0            3
4999    1     28.0   40600.0            1

[5000 rows x 4 columns]

Сравнили - ничего общего. Понять какие данные были в исходной матрице невозможно.

In [39]:
features_after_encr = features_encr @ np.linalg.inv(key)
pd.DataFrame(features_after_encr.round(0).astype(int))

      0   1      2  3
0     1  41  49600  1
1     0  46  38000  1
2     0  29  21000  0
3     0  21  41700  2
4     1  28  26100  0
...  ..  ..    ... ..
4995  0  28  35700  2
4996  0  34  52400  1
4997  0  20  33900  2
4998  1  22  32700  3
4999  1  28  40600  1

[5000 rows x 4 columns]

Расшифровке поддается!

### Разделение выборок

In [40]:
features_train, features_valid, target_train, target_valid = train_test_split(
    features, target, test_size=0.25, random_state=12345)

print(features_train.shape)
print(features_valid.shape)

print(target_train.shape)
print(target_valid.shape)

(3750, 4)
(1250, 4)
(3750,)
(1250,)

In [41]:
features_train_encr, features_valid_encr, target_train_encr, target_valid_encr = train_test_split(
    features_encr, target, test_size=0.25, random_state=12345)

print(features_train_encr.shape)
print(features_valid_encr.shape)

print(target_train_encr.shape)
print(target_valid_encr.shape)

(3750, 4)
(1250, 4)
(3750,)
(1250,)

In [42]:
features_train.head()

      Пол  Возраст  Зарплата  Члены семьи
3369    1     43.0   36200.0            1
1441    1     34.0   57600.0            0
571     0     32.0   41100.0            1
225     0     36.0   45100.0            1
2558    0     33.0   50600.0            2

In [43]:
pd.DataFrame(features_train_encr).head()

                 0             1            2             3
3369  19333.093890  21737.998851  2218.449043  34402.347455
1441  30750.110087  34561.224064  3510.511392  54711.391560
571   21943.878801  24666.994409  2509.247746  39044.955335
225   24079.796009  27068.316281  2753.952704  42845.567154
2558  27014.206261  30364.008330  3085.663613  48065.541505

### Обучение модели на исходных данных

In [44]:
model = LinearRegression()
model.fit(features_train, target_train)
predicted_valid = model.predict(features_valid)
print("R2 модели:", r2_score(target_valid, predicted_valid))

R2 модели: 0.43522757127026546

### Обучение модели на преобразованных данных

In [45]:
model_encr = LinearRegression()
model_encr.fit(features_train_encr, target_train_encr)
predicted_valid_encr = model_encr.predict(features_valid_encr)
print("R2 модели:", r2_score(target_valid_encr, predicted_valid_encr))

R2 модели: 0.43522757126970213

## Вывод

Качество линейной регрессии из sklearn не отличается до и после преобразования. Шифрование путем умножения признаков на случайную обратимую матрицу и обратное дешифрование проходят успешно. Алгоритм проверен, рабочий. Все удалось. Ура, товарищи, клиенты могут спать спокойно - их данные защищены!